.login-menu {
  @apply bg-gradient-to-r from-blue-500 to-indigo-500;
  display: flex;
  font-size: 20px;
  padding: 20px 0px;
  margin: 0px;
}
.login-menu li {
  margin-left: 20px;
  list-style-type: none;
  outline: none;
  font-weight: bold;
}
.login-menu a {
  text-decoration: none;
  color:white;
}
.login-menu h4{
    margin: 0;
}
.heading{
    text-align: center;
    color: orange;
    margin: 20px;
}
body{
    margin: 0;
    padding: 0;
}
